# Theis, Listing 5.7

In [ ]:
# Zahl mit Nachkommastellen
x = 100/7
y = 2/7
print("Zahlen:", x, y)
print()

# Format f
print(f"Format f, Standard:   {x:f} {x:f} {y:f}")
print(f"Format f, nach Komma: {x:.25f}")
print(f"Format f, gesamt:     {x:15.10f}")
print()

# Format e
print(f"Format e, Standard:   {x:e}")
print(f"Format e, nach Komma: {x:.3e}")
print(f"Format e, gesamt:     {x:12.3e}")
print()

# Format %
print(f"Format %, Standard:   {y:%}")
print(f"Format %, nach Komma: {y:.3%}")
print(f"Format %, gesamt:     {y:12.3%}")

In [1]:
#Formatierung mit einem F String

x = 100/7
y = 2/7 

print("Zahlen:",x,y)
print()

#Format f = fliesskommazahlen
#Bei Standard werden 6 Kommastellen gedruck
#Bei nach Komma werden 25 Nachkommastellen ausgegeben
#Bei gesammt werden 10 Nachkommastellen ausgegeben Die 15 zeigt an - wie lange die Feldlänge sein wird. Bei weniger Zahlen wird vor der Zahl mit 
#Komma aufgefüllt.

print(f"Format f, Standard: {x:f} {x:f} {y:f} ")
print(f"Format f, nach Komma: {x:.25f}")
print(f"Format f, gesamt: {x:15.10f}")

Zahlen: 14.285714285714286 0.2857142857142857

Format f, Standard: 14.285714 14.285714 0.285714
Format f, nach Komma: 14.2857142857142864755815026
Format f, gesamt:   14.2857142857

# Theis, Listing 5.8

In [5]:
# Formatierung von Zeichenketten
#Überschrift der Tabelle wird hier gedruck. < = linksbündig > = rechtsbündig
print(f"{'dez':>4}{'dual':>9}{'oct':>4}{'hex':>4}")

# Formatierung ganzer Zahlen
for z in range(59,69):
    print(f"{z:4d}{z:9b}{z:4o}{z:4x}")
print()

# Tabelle mit verschiedenen Objekten
artname = {23:"Apfel", 8:"Banane", 42:"Pfirsich"}
anzahl = {23:1, 8:3, 42:5}
epreis = {23:2.95, 8:1.45, 42:3.05}

print(f"{'Nr':>4}{'Name':>12}{'Anz':>4}{'EP':>13}{'GP':>13}")
for x in 23, 8, 42:
#die Ausgabe 04d bedeutet - dass die 0 Zahlen nicht unterdrückt werden und angezeigt werden.
    print(f"{x:04d}{artname[x]:>12}{anzahl[x]:4d}"
          f"{epreis[x]:8.2f} Euro{anzahl[x] * epreis[x]:8.2f} Euro")

 dez     dual oct hex
  59   111011  73  3b
  60   111100  74  3c
  61   111101  75  3d
  62   111110  76  3e
  63   111111  77  3f
  64  1000000 100  40
  65  1000001 101  41
  66  1000010 102  42
  67  1000011 103  43
  68  1000100 104  44

  Nr        Name Anz           EP           GP
0023       Apfel   1    2.95 Euro    2.95 Euro
0008      Banane   3    1.45 Euro    4.35 Euro
0042    Pfirsich   5    3.05 Euro   15.25 Euro

In [36]:
#10d das D Steht hier für Dezimal, b steht für binät, o steht für octa, x steht für hexa

print(f"{'n':>3}{'2**n':>10}")
for i in range(9):
    print(f"{i:3d} {2**i:10d}")

  n      2**n
  0         1
  1         2
  2         4
  3         8
  4        16
  5        32
  6        64
  7       128
  8       256